.yomichan-popup {
	position:absolute;
	background-color:#4682b4;
	color: white;
	font-size: 14px;
	padding: 5px;
	text-align: left;
	z-index: 999999999;
	border-radius: 5px;
	padding: 5px;
}

.yomichan-popup>ruby {
	font-weight: bold;
	color: #87cefa;
}

.yomichan-popup>ruby>rt {
	font-size: 10px;
	color:#40e0d0;
}